<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="org.dale.shiroDemo" use-default-filters="true">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <property name="authenticator">
            <bean class="org.apache.shiro.authc.pam.ModularRealmAuthenticator">
                <property name="realms">
                    <list>
                        <ref bean="myRealm02"/>
                        <ref bean="myRealm03"/>
                    </list>
                </property>
                <property name="authenticationStrategy">
                     <!--至少一个认证成功就通过-->
                      <!--<bean class="org.apache.shiro.authc.pam.AtLeastOneSuccessfulStrategy"></bean>-->
                     <!--全部通过才通过-->
                      <!--<bean class="org.apache.shiro.authc.pam.AllSuccessfulStrategy"></bean>-->
                    <!--  第一个通过就结束-->
                    <bean class="org.apache.shiro.authc.pam.FirstSuccessfulStrategy"></bean>
                </property>
            </bean>
        </property>
    </bean>
    <bean class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" id="shiroFilter">
        <property name="securityManager" ref="securityManager"/>
        <property name="filterChainDefinitions">
            <!--
            /doLogin 这个接口可以匿名访问
            /** 剩余其他接口,需要认证后才能访问
           -->
            <value>
                /doLogin=anon
                /**=authc
            </value>
        </property>
    </bean>
</beans>