<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dale.shiroDemo.mapper.OmpUserMapper">
    <select id="getUserByName" resultType="org.dale.shiroDemo.model.OmpUser">
        select * from omp_user where username = #{username}
    </select>
</mapper>